include CITATION.cff
include tabpfn/LICENSE
include tabpfn/NOTICE
include NOTICE
include PROVENANCE.md
recursive-include docs *.md
recursive-include environments *.txt
recursive-include examples *.md *.py
recursive-include tests *.py
